/* Configure Bootstrap Variables Here (if any) */

$primary: #016d94;
$secondary: #3a788e;

// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  $secondary,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark
// );

/* Import the parts we need only */

// Configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/list-group";

// Helpers
@import "~bootstrap/scss/helpers/text-truncation";

// Utilities
@import "~bootstrap/scss/utilities/api";

/* Layout + Theme */

:root {
    // Default styles -- applicable to "poker" theme
    --bs-body-bg: #fff;
    --bs-border-color: #46464680;
    // This is used independently of Bootstrap .btn, for which vars are defined within their relevant className
    // But kept in sync with primary button color here for re-use by e.g. form-check-input:checked
    --bs-btn-color: #{$primary};
    --playing-background-color: #9ab795;
    --poker-card-height: 7.5rem;
    --poker-card-width: 5rem;
    --poker-container-padding-x: 0.75rem;
    --poker-container-padding-y: 1rem;
    --poker-card-bg-color: #fff;
    --poker-card-text-color: #000;
    --poker-card-border-color: #0000007d;
    --poker-pending-vote-bg: #3a788e;
    --poker-pending-vote-text-color: var(--bs-body-bg);
    --poker-selected-vote-bg: #f8f8f8;
    --form-control-border-color: #ced4da;
    --form-control-focus-shadow-color: #016d9440;
}

body {
    width: 100%;
    width: 100vw;
    background-color: var(--bs-body-bg);
    overflow-x: hidden;
    transition: background-color .3s, color .3s, border-color .3s;
}

body[data-theme="concrete"] {
    --bs-body-color: #444;
    --bs-border-color: #7e7e7e;
    --playing-background-color: #dadada;
}


$theme-cyberpink-btn: #FE019A; // #ff2ace; //#00ffa1;
$theme-cyberpink-body-color: #cdff00;

body[data-theme="cyberpink"] {
    --bs-body-color: #{$theme-cyberpink-body-color};
    --bs-border-color: #000; //var(--bs-body-color);
    --bs-body-bg: #333;
    --bs-link-color: #{$theme-cyberpink-btn};
    --bs-link-hover-color: #{darken($theme-cyberpink-btn, 10%)};
    --bs-btn-color: var(--bs-link-color);
    --form-control-bg: #000;
    --form-control-border-color: var(--bs-body-color);
    --form-control-focus-shadow-color: #{transparentize($theme-cyberpink-btn, 0.75)};

    --playing-background-color: #000;
    --poker-card-bg-color: #000;
    --poker-card-text-color: var(--bs-body-color);
    --poker-card-border-color: var(--bs-body-color);
    --poker-pending-vote-bg: var(--bs-body-color);
    --poker-selected-vote-bg: #333;
    --poker-pending-vote-text-color: var(--bs-body-bg);

    .btn {
        // This takes effect only for .btn without other .btn-primary etc theme.
        // These are buttons without border nor BG, but with an onHover border.
        --bs-btn-color: var(--bs-body-color);
        --bs-btn-hover-color: var(--bs-link-hover-color);
        
        &.btn-primary {
            --bs-btn-bg: var(--bs-link-color);
            --bs-btn-color: #000;
            --bs-btn-disabled-bg: #{darken($theme-cyberpink-btn, 15%)};
            --bs-btn-disabled-color: #000;
        }
        &.btn-outline-primary {
            --bs-btn-color: var(--bs-link-color);
            --bs-btn-disabled-color: #{darken($theme-cyberpink-btn, 15%)};
        }
        &.btn-primary,
        &.btn-outline-primary {
            --bs-btn-border-color: var(--bs-link-color);
            --bs-btn-hover-bg: var(--bs-link-hover-color);
            --bs-btn-hover-color: #000;
            --bs-btn-hover-border-color: var(--bs-link-hover-color);
            --bs-btn-active-bg: var(--bs-link-hover-color);
            --bs-btn-active-color: #000;
            --bs-btn-active-border-color: var(--bs-link-hover-color);
            --bs-btn-disabled-border-color: #{darken($theme-cyberpink-btn, 15%)};
        }
    }
    
}


$theme-serika-btn: #e2b714;
$theme-serika-secondary-color: #aaaeb3;
$theme-serika-body-color: #323437;

$theme-serika-dark-body-color: #d1d0c5;
$theme-serika-dark-secondary-color: #646669;

body[data-theme="serika-light"] {
    --bs-body-color: #{$theme-serika-body-color};
    --bs-body-bg: #e1e1e3;
    --bs-border-color: #d7d7d7; // var(--bs-body-color);
    --form-control-border-color: #{$theme-serika-secondary-color};

    --poker-card-bg-color: #e7e7e7;
    --poker-card-border-color: #{$theme-serika-secondary-color};
}

body[data-theme="serika-dark"] {
    --bs-body-color: #{$theme-serika-dark-body-color};
    --bs-body-bg: #{$theme-serika-body-color};
    --bs-border-color: #414448; // var(--bs-body-color);
    --form-control-border-color: #{$theme-serika-dark-secondary-color};

    --poker-card-bg-color: #2c2e31;
    --poker-card-border-color: #{$theme-serika-dark-secondary-color};    
}

body[data-theme="serika-light"],
body[data-theme="serika-dark"] {
    --bs-link-color: #{$theme-serika-btn};
    --bs-link-hover-color: #{darken($theme-serika-btn, 10%)};
    --bs-btn-color: #{$theme-serika-btn};
    --form-control-bg: var(--bs-body-bg);
    --form-control-focus-shadow-color: #{transparentize($theme-serika-btn, 0.75)};

    --playing-background-color: var(--bs-body-bg);
    --poker-card-text-color: var(--bs-body-color);
    --poker-pending-vote-bg: var(--poker-card-border-color);
    --poker-selected-vote-bg: var(--poker-card-border-color);
    --poker-pending-vote-text-color: var(--bs-body-bg);

    .btn {
        --bs-btn-color: var(--bs-body-color);
        --bs-btn-hover-color: #{darken($theme-serika-btn, 10%)};
        
        &.btn-primary {
            --bs-btn-bg: #{$theme-serika-btn};
            --bs-btn-color: var(--bs-body-bg);
            --bs-btn-disabled-bg: #{desaturate($theme-serika-btn, 20%)};
            --bs-btn-disabled-color: var(--bs-body-bg);
        }
        &.btn-outline-primary {
            --bs-btn-color: #{$theme-serika-btn};
            --bs-btn-disabled-color: #{desaturate($theme-serika-btn, 20%)};
        }
        &.btn-primary,
        &.btn-outline-primary {
            --bs-btn-border-color: #{$theme-serika-btn};
            --bs-btn-hover-bg:  #{darken($theme-serika-btn, 10%)}; // var(--bs-body-color);
            --bs-btn-hover-color: var(--bs-body-bg);
            --bs-btn-hover-border-color: var(--bs-btn-hover-bg);
            --bs-btn-active-bg: var(--bs-btn-hover-bg);
            --bs-btn-active-color: var(--bs-body-bg);
            --bs-btn-active-border-color: var(--bs-btn-active-bg);
            --bs-btn-disabled-border-color: #{desaturate($theme-serika-btn, 20%)};
        }
    }

}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.form-control,
.form-check-input {
    background-color: var(--form-control-bg);
    border-color: var(--form-control-border-color);
    color: var(--bs-body-color);
    &:focus {
        background-color: var(--form-control-bg);
        color: var(--bs-body-color);
        border-color: var(--bs-btn-color);
        box-shadow: 0 0 0 0.25rem var(--form-control-focus-shadow-color);
    }
    &:disabled {
        background-color: var(--form-control-bg);
        opacity: 0.75;
    }
}

.form-check-input {
    position: relative;
    &:checked {
        background-color: var(--bs-btn-color);
        border-color: var(--bs-btn-color);
        color: var(--form-control-bg);
        background-image: none !important;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 0.475em;
            height: 0.675em;
            border-bottom-style: solid;
            border-right-style: solid;
            border-width: 3px;
            transform: translate3d(0.2em, 0, 0) rotate3d(0, 0, 1, 45deg);
            border-color: var(--bs-body-bg);
            transition: border-color .3s;
        }
    }
}

/* Mixins/Reusables */

.poker-cards-wrapper-container {
    display: flex;
    justify-content: center;
    background-color: var(--playing-background-color);
    transition: background-color .3s;
    position: relative;
    flex-basis: calc(
        var(--poker-card-height) +
        (2 * var(--poker-container-padding-y))
        + 2px
    );
}

.poker-cards-container {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding:
        var(--poker-container-padding-y)
        var(--poker-container-padding-x);
    overflow-x: auto;
    flex: 0 1 auto;
}

.poker-card {
    flex: 0 0 var(--poker-card-width);
    width: var(--poker-card-width);
    height: var(--poker-card-height);
    border: 1px solid var(--poker-card-border-color);
    background-color: var(--poker-card-bg-color);
    color: var(--poker-card-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    border-radius: 3px;
    box-shadow: #161f27 0px 5px 10px -10px;

    .large-value {
        font-weight: bold;
        font-size: 1.5em;
    }

}

@mixin poker-card-hover {
    transform:
        perspective(18em)
        rotate3d(1, 0, 0, 16deg)
        rotate3d(0, 1, 0, 10deg)
        rotate3d(0, 0, 1, -3deg)
        translate3d(0, -12px, 0)
        scale3d(1.075, 1.075, 1);
    box-shadow:
        #161f27 2px 10px 33px -20px;
}

.cursor-pointer {
    cursor: pointer;
}

.mw-small-vote {
    min-width: 1.5rem;
}

/* Content */

.top-nav {
    border-bottom: 1px solid var(--bs-border-color);
    transition: border-color .3s;
    height: 42px;
    a {
        text-decoration: none;
    }
    #page-title {
        font-size: 1.2rem;
        font-weight: 300;
        a {
            &:not(:hover) {
                color: var(--bs-body-color);
            }
        }
    }
}

#content-area {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

#sidebar-container {
    position: absolute;
    top: 0;
    width: 0px;
    opacity: 0;
    right: -320px;
    height: 100%;
    height: 100vh;
    background-color: var(--bs-body-bg);
    transition: left .1s, right .1s, width 0s .1s, opacity 0s .1s, background-color .3s;
    max-width: 90vw;
    box-shadow: -3px 0 10px -7px #000;
    &.is-open {
        width: 320px;
        opacity: 1;
        transition: left .2s, right .2s, background-color .3s;
        right: 0px;
    }
}

.sidebar-bg-overlay {
    position: absolute;
    background-color: transparent;
    transition:
        background-color .1s,
        left 0s .1s, right 0s .1s, top 0s .1, bottom 0s .1s;
    &.is-open {
        transition: background-color .3s;
        background-color: rgba(0,0,0,0.2);
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        height: 100vh;
    }
}



@keyframes topLoader {
    0% { left: -1%; right: 101%; }
    30% { left: 0%; right: 40%; }
    60% { left: 45%; right: 0%; }
    90% { left: 100%; right: -0%; }
    100% { left: 101%; right: -1%; }
}

.connecting-container {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    background-color: rgba(0,0,0,0.1);
    font-size: 2em;
    font-weight: bold;
    &:before {
        content: " ";
        background-color: #03f6b6;
        height: 6px;
        position: absolute;
        top: 0;
        transform: translate3d(0,0,0);
        animation: topLoader 1.2s ease-in-out 0s infinite normal;
    }
}

.current-agenda {
    // max-height: 70px;
    // transition: max-height .25s ease-out;
    border-bottom: 1px solid var(--bs-border-color);
    transition: border-color .3s;
    label {
        > i.fa-angle-right {
            transition: transform .3s;
        }
    }
    
    &.is-open {
        // overflow-y: auto;
        // max-height: 270px;
        label > i.fa-angle-right {
            transform: rotate3d(0, 0, 1, 90deg);
        }
    }
    .votes-list {
        span.vote:not(:last-child):after {
            display: inline;
            content: ", ";
        }
    }
    .score {
        > .value {
            display: inline-block;
            text-align: right;
            font-weight: 500;
        }
    }
}



#fireworks-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes fadeOutPart {
    0% { opacity: 0.35; }
    100% { opacity: 0.1; }
}

.peer-votes-wrapper-section {
    border-bottom: 1px dotted rgba(0,0,0,0.2);
    flex-grow: 1;
}

.peer-votes-section {
    gap: 1rem;
    // Works but kinda stupid UX:
    // transform: none;
    // transform-origin: bottom;
    // transition: transform .5s ease-out;
    // &:not(.votes-shown) {
    //     transform: translate3d(0,-20px,0) scale3d(1.5, 1.5, 1) perspective(800px) rotate3d(1, 0, 0, 60deg);
    // }
}

.peer-vote-card {
    position: relative;
    &.has-pending-vote {
        background-color: var(--poker-pending-vote-bg);
        color: var(--poker-pending-vote-text-color);
    }
    &.is-exiting {
        animation: fadeOutPart 1s ease-out alternate infinite;
    }
    &.is-host:before {
        content: "Room Host";
        display: block;
        font-size: 0.75em;
        color: var(--poker-card-border-color);
        position: absolute;
        // left: -100%;
        left: 0;
        bottom: 100%;
        white-space: nowrap;
        // transform: translate3d(18px,0,0) rotate3d(0, 0, 1, -90deg);
        // transform-origin: 100% 100%;
    }
    .vote {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    .name {
        padding: 1rem 0.5rem;
        width: 100%;
        text-align: center;
    }
}

.voting-cards-wrapper-container {
    flex-grow: 1.618;

    .voting-cards-container {
        flex: 0 1 auto;
    }
}


.voting-card-container {

    .voting-card {
        transition: transform .1s, box-shadow .1s, background-color .3s;

        &:disabled {
            opacity: 0.7;
        }

        &:not(:disabled) {
            cursor: pointer;
        }
    
        &.selected {
            border-width: 2px;
            background-color: var(--poker-selected-vote-bg);
            transition: transform .3s, box-shadow .3s, background-color .3s;
            transform:
                perspective(18em)
                rotate3d(1, 0, 0, 36deg)
                translate3d(0, -30px, 0px)
                scale3d(1.05, 1.05, 1) !important;
            box-shadow:
                rgb(22,31,39) 0px 5px 33px -20px !important;
        }
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover .voting-card:not([disabled]) {
            @include poker-card-hover;
        }
    }

    .voting-card:not(.selected):focus {
        transform:
            perspective(18em)
            rotate3d(1, 0, 0, 16deg)
            rotate3d(0, 1, 0, 10deg)
            rotate3d(0, 0, 1, -3deg)
            translate3d(0, -12px, 0)
            scale3d(1.075, 1.075, 1);
        box-shadow:
            #161f27 2px 10px 33px -20px;
    }

}

.host-controls {
    border-top: 1px solid var(--bs-border-color);
    transition: border-color .3s;
}

.agenda-textarea {
    white-space: nowrap;
    background-attachment: local;
    line-height: 26px;
    font-size: 1rem;
    background-attachment: local;
    background-image:
        linear-gradient(to right, var(--bs-body-bg), var(--bs-body-bg) .75rem, transparent .75rem),
        linear-gradient(to left, var(--bs-body-bg), var(--bs-body-bg) .75rem, transparent .75rem),
        repeating-linear-gradient(var(--bs-body-bg), var(--bs-body-bg) 25px, rgba(0,0,0,0.1) 25px, rgba(0,0,0,0.1) 26px);
    background-position-y: 6px;
}

body {
    visibility: visible !important;
}