/* Configure Bootstrap Variables Here (if any) */

$primary: #016d94;
$secondary: #3a788e;

// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  $secondary,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark
// );

/* Import the parts we need only */

// Configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/list-group";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";

/* Layout */

html {
    display: flex;
    min-height: 100%;
}

body {
    min-width: 100%;
}

#root {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Mixins/Reusables */

$poker-card-height: 7.5rem;
$poker-card-width: 5rem;
$poker-container-padding-x: 0.75rem;
$poker-container-padding-y: 1rem;

.poker-cards-container {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    padding: $poker-container-padding-y $poker-container-padding-x;
    overflow-x: auto;
    background-color: #cbe3cb;
    flex-basis: $poker-card-height + (2.5 * $poker-container-padding-y);
}

.poker-card {
    flex: 0 0 $poker-card-width;
    width: $poker-card-width;
    height: $poker-card-height;
    border: 1px solid #727272;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    border-radius: 3px;
    box-shadow: #161f27 0px 5px 10px -10px;
    overflow: hidden;

    .large-value {
        font-weight: bold;
        font-size: 1.5em;
    }

}

@mixin poker-card-hover {
    transform:
        perspective(18em)
        rotate3d(1, 0, 0, 16deg)
        rotate3d(0, 1, 0, 10deg)
        rotate3d(0, 0, 1, -3deg)
        translate3d(0, -12px, 0)
        scale3d(1.075, 1.075, 1);
    box-shadow:
        #161f27 2px 10px 33px -20px;
}

.cursor-pointer {
    cursor: pointer;
}

.mw-small-vote {
    min-width: 1.5rem;
}

/* Content */

.initialization-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#content-area {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-nav {
    border-bottom: 1px solid #444;
    height: 42px;
    a {
        text-decoration: none;
    }
    #page-title {
        font-size: 1.2rem;
        font-weight: 300;
        a {
            &:not(:hover) {
                color: #444;
            }
        }
    }
}


@keyframes topLoader {
    0% { left: -1%; right: 101%; }
    30% { left: 0%; right: 40%; }
    60% { left: 45%; right: 0%; }
    90% { left: 100%; right: -0%; }
    100% { left: 101%; right: -1%; }
}

.connecting-container {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    background-color: rgba(0,0,0,0.1);
    pointer-events: none;
    font-size: 2em;
    font-weight: bold;
    &:before {
        content: " ";
        background-color: #03f6b6;
        height: 6px;
        position: absolute;
        top: 0;
        transform: translate3d(0,0,0);
        animation: topLoader 1.2s ease-in-out 0s infinite normal;
    }
}

.introduction-form {
    input[type="text"] {
        display: block;
        margin-bottom: 0.75rem;
    }
    button[type="submit"] {
        display: block;
    }
}

.current-agenda {
    // max-height: 70px;
    // transition: max-height .25s ease-out;
    label {
        > i.fa-angle-right {
            transition: transform .3s;
        }
    }
    
    &.is-open {
        // overflow-y: auto;
        // max-height: 270px;
        label > i.fa-angle-right {
            transform: rotate3d(0, 0, 1, 90deg);
        }
    }
    .votes-list {
        span.vote:not(:last-child):after {
            display: inline;
            content: ", ";
        }
    }
    .score {
        > .value {
            display: inline-block;
            text-align: right;
            font-weight: 500;
        }
    }
}

.peer-votes-section {
    border-bottom: 1px dotted rgba(0,0,0,0.2);
    flex-grow: 1;
    position: relative;
}

#fireworks-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes fadeOutPart {
    0% { opacity: 0.5; }
    100% { opacity: 0.1; }
}

.peer-vote-card {
    &.has-pending-vote {
        background-color: #3a788e;
        color: #fff;
    }
    &.is-exiting {
        animation: fadeOutPart 1s ease-out alternate infinite;
    }
    .vote {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    .name {
        padding: 1rem 0.5rem;
        width: 100%;
        text-align: center;
    }
}

.voting-cards-container {
    border-bottom: 1px solid #444;
    flex-grow: 1.618;
}

.voting-card-container {

    .voting-card {
        transition: transform .1s, box-shadow .1s;

        &:disabled {
            border-color: #bbb;
        }

        &:not(:disabled) {
            cursor: pointer;
        }
    
        &.selected {
            border-width: 2px;
            background-color: #f8f8f8;
            transition: transform .3s, box-shadow .3s;
            transform:
                perspective(18em)
                rotate3d(1, 0, 0, 36deg)
                translate3d(0, -30px, 0px)
                scale3d(1.05, 1.05, 1) !important;
            box-shadow:
                rgb(22,31,39) 0px 5px 33px -20px !important;
        }
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover .voting-card:not([disabled]) {
            @include poker-card-hover;
        }
    }

    .voting-card:not(.selected):focus {
        transform:
            perspective(18em)
            rotate3d(1, 0, 0, 16deg)
            rotate3d(0, 1, 0, 10deg)
            rotate3d(0, 0, 1, -3deg)
            translate3d(0, -12px, 0)
            scale3d(1.075, 1.075, 1);
        box-shadow:
            #161f27 2px 10px 33px -20px;
    }

}

.host-controls {
    border-bottom: 1px solid #444;
}

.agenda-textarea {
    white-space: nowrap;
    background-attachment: local;
    line-height: 26px;
    font-size: 1rem;
    background-attachment: local;
    background-image:
        linear-gradient(to right, #FFF, #FFF .75rem, transparent .75rem),
        linear-gradient(to left, #FFF, #FFF .75rem, transparent .75rem),
        repeating-linear-gradient(#FFF, #FFF 25px, #eee 25px, #eee 26px);
    background-position-y: 6px;
}

body {
    visibility: visible !important;
}